extends layout

block content
  .container
    :marked
      Dentro da Avaliação Psicológica, temos o psicodiagnóstico e a orientação
      profissional.  Ambos usam entrevistas e testes psicológicos, mas cada
      um com objetivos, demandas, encaminhamentos e tratamentos específicos
      quando necessário.

      ## Orientação Profissional

      A orientação profissional está baseada em entrevistas e testagem
      específica para preferências profissionais. É realizada em alguns
      encontros onde ocorrem entrevistas focadas na demanda de orientação
      profissional, após as entrevistas é realizada a bateria de testes para
      obter a indicação de profissão de acordo com os gostos e perfil pessoal
      do testando. Na bateria são realizados testes sem consulta, baseados nas
      preferências pessoais em cada profissão. Ao final do processo o psicólogo
      avaliador faz o levantamento das respostas do testando e elabora o perfil
      profissional do sujeito.

      Nessa fase é realizada uma entrevista de devolução onde o profissional
      devolve para o avaliando seus resultados e a partir de suas próprias
      escolhas é determinado qual o tipo de profissão está mais adequada para
      o seu perfil. Desta forma, as próprias escolhas do testando durante a
      testagem é que irão determinar a profissão indicada para o mesmo.

      ## Psicodiagnóstico

      O psicodiagnóstico é baseado em um conjunto de métodos e técnicas.
      Primeiramente é realizado um conjunto de entrevistas com o examinando e
      com familiares (no caso de crianças e/ou adolescentes), após ter sido
      estabelecida a demanda (motivo, queixa, encaminhamentos) é elaborada uma
      bateria de testes psicológicos (testes específicos de acordo com o tipo
      de demanda).

      Os testes são aplicados um a um, o examinando deverá realizar os testes
      de forma individual e sem consulta. Após o levantamento dos dados, o
      psicólogo elabora o parecer que deverá entregar para o paciente e para a
      família (no caso de crianças e/ou adolescentes) em uma nova entrevista,
      chamada de entrevista de devolução.

      Quando o paciente vem encaminhado por outro profissional, o psicólogo
      deverá fazer uma devolução também ao profissional que solicitou o
      psicodiagnóstico.

      O psicodiagnóstico é realizado também dentro da própria psicoterapia
      para auxiliar no plano terapêutico e é realizado pelo próprio
      psicoterapeuta daquela pessoa ou por outro profissional indicado por este. 

block myjs
  script jQuery("#avaliacaopsicologica").addClass("active")
