extends layout

block content
  .container
    :marked
      Este site foi criado com o propósito de informar de uma forma clara e
      objetiva sobre transtornos mentais e emocionais e seus
      tratamentos mais utilizados, visando orientar quem procura informações,
      tanto sobre problemas de fundo emocional quanto sobre onde buscar tratamento.

      A psicologia tem um vasto campo de abrangência e hoje ela está cada vez
      mais presente na vida dos indivíduos, tanto para tratamentos individuais
      como familiares.

      Estou à disposição para dúvidas, sugestões ou maiores esclarecimentos.
      Estes podem ser feito por e-mail. Ficarei satisfeita em poder ajudar com
      outras informações.

  .container
    :marked
      > "A maior revolução de nossos tempos é a descoberta de que ao mudar as
      > atitudes internas de suas mentes, os seres humanos podem mudar os aspectos
      > externos de suas vidas."
      > <cite> William James </cite>

  .container
    :marked
      > "O psicólogo deve ser para o outro, o que o outro necessita para chegar
      > a ser ele mesmo."
      > <cite> Eduardo Sá </cite>

  .container
    :marked
      > "Conheça todas as teorias, domine todas as técnicas, mas ao tocar uma
      > alma humana, seja, apenas outra alma humana."
      > <cite> Carl Jung </cite>

block myjs
  script jQuery("#apresentacao").addClass("active")
