extends layout

mixin img(src)
  img.figure-img.img-fluid(src=attributes.src)

block content
  .container
    .col-md-6
      #myCarousel.carousel.slide(data-ride="carousel")
        ol.carousel-indicators
          li(data-target="#myCarousel" data-slide-to="0" class="active")
          li(data-target="#myCarousel" data-slide-to="1")
          li(data-target="#myCarousel" data-slide-to="2")
          li(data-target="#myCarousel" data-slide-to="3")
        .carousel-inner(role="listbox")
          .item.active
            img(src="img/IMG_20170624_075718135.jpg")
          .item
            img(src="img/IMG_20170618_191150716.jpg")
          .item
            +img(src="img/IMG_20170618_191203531.jpg")
          .item
            img(src="img/IMG_20170624_075959035.jpg")
        a.left.carousel-control(href="#myCarousel" role="button" data-slide="prev")
        a.right.carousel-control(href="#myCarousel" role="button" data-slide="next")

    .col-md-6
      :marked
        > "A maior revolução de nossos tempos é a descoberta de que ao mudar as
        > atitudes internas de suas mentes, os seres humanos podem mudar os aspectos
        > externos de suas vidas."
        > <cite> William James </cite>

      :marked
        > "O psicólogo deve ser para o outro, o que o outro necessita para chegar
        > a ser ele mesmo."
        > <cite> Eduardo Sá </cite>

      :marked
        > "Conheça todas as teorias, domine todas as técnicas, mas ao tocar uma
        > alma humana, seja, apenas outra alma humana."
        > <cite> Carl Jung </cite>

  .container.center.spaced.bg1
    .row
      .col-md-4.col-md-offset-4
        :marked
          ### Psicoterapia

          A psicologia tem um vasto campo de abrangência e hoje ela está cada vez
          mais presente na vida dos indivíduos, tanto para tratamentos individuais
          como familiares.

    .row
      .col-md-3
        img.figure-img.icon(src="img/man-silhouette.png")
        h4 Individual
      .col-md-3
        img.figure-img.icon(src="img/couple.png")
        h4 Casal
      .col-md-3
        img.figure-img.icon(src="img/family-group-of-father-and-mother-with-two-babies-and-a-dog.png")
        h4 Família
      .col-md-3
        img.figure-img.icon(src="img/child-with-a-balloon.png")
        h4 Criança

  .container.center.spaced.bg2
    .row
      .col-md-4.col-md-offset-4
        :marked
          ### Abordagens
    .row
      .col-md-3
        img.figure-img.icon(src="img/tcc.png")
        h4 Terapia cognitivo comportamental
      .col-md-3
        img.figure-img.icon(src="img/familiar-meeting-on-table.png")
        h4 Terapia sistêmica
      .col-md-3
        img.figure-img.icon(src="img/logoterapia.png")
        h4 Logoterapia
      .col-md-3
        img.figure-img.icon(src="img/happy.png")
        h4 Psicologia positiva

  .container.center.spaced.bg3
    .row
      .col-md-4.col-md-offset-4
        :marked
          ### Avaliação psicológica
    .row
      .col-md-4.col-md-offset-2
        img.figure-img.icon(src="img/checklist_todo-64.png")
        :marked
          #### Psicodiagnóstico
      .col-md-4
        img.figure-img.icon(src="img/cap-16-64.png")
        :marked
          #### Orientação Profissional

  .container.center
    .row
      .col-md-6.center
        :marked
          ### Horários de atendimento

          2ª a 6ª das 8:00 às 20:00

          sábados das 8:00 às 12:00

          as consultas precisam ser previamente marcadas
      .col-md-6
        +img(src="img/IMG_20170621_134808259.jpg")
        h4 Sala de espera

block myjs
  script jQuery("#apresentacao").addClass("active")
  script jQuery('.carousel').carousel()
