:marked
  ## Logoterapia

  O termo "logos" é uma palavra grega que significa "sentido". Assim, a
  "Logoterapia concentra-se no sentido da existência humana, bem como na
  busca da pessoa por este sentido" <cite>(Frankl, 1991)</cite>.

  > "Para a Logoterapia, a busca de sentido na vida da pessoa é a principal
  > força motivadora no ser humano. A Logoterapia é considerada e desenhada
  > como terapia centrada no sentido. Vê o homem como um ser orientado para
  > o sentido."
  > <cite> (Frankl, 1991)</cite>

  O homem sempre procurou dar um sentido à sua vida e aprofundar-se em sua
  existência. A frustração dessa necessidade é um sintoma do nosso tempo.
  O sofrimento e a falta de sentido configuram o vazio existencial que
  muitos experimentam. Para esse mal, Frankl foi desenvolvendo durante
  décadas a Logoterapia.

  Frankl não pretendeu "suplantar a Psicoterapia vigente, mas
  complementá-la e completar também o conceito de ser humano – mais
  indispensável às ciências do homem do que o método e técnicas corretas".
  A Logoterapia busca restituir a imagem do homem superando reducionismos,
  faz uma proposta que não se limita à Psicologia, mas abrange todas as
  áreas da atividade humana, e busca resgatar aquilo que é especificamente
  humano na pessoa.

  A logoterapia pode ser usada como terapia de apoio e o logoterapeuta vai
  auxiliar o paciente para que este consiga por si mesmo encontrar o sentido
  de sua vida.

a(href="http://docs.google.com/viewer?a=v&pid=sites&srcid=cHNpY29wb2EuY29tLmJyfHBzaWNvcG9hfGd4Ojc4YjNiYTBjNDRlMDk0Njc")
  img(src="img/document-txt-icon--plump-iconset--zerode-12.png")
  | O sentido do sofrimento e o sentido da vida como agentes de resiliência
