:marked
  ## Psicodinâmica

  A teoria psicanalítica foi desenvolvida por Sigmund Freud, é uma teoria
  que procura descrever a etiologia dos transtornos mentais, o
  desenvolvimento do homem e de sua personalidade, além de explicar a
  motivação humana. Com base nesse corpo teórico Freud desenvolveu um
  tipo de psicoterapia, ao conjunto formado pela teoria, a prática
  psicoterapêutica nela baseada e os métodos utilizados dá-se o nome de
  psicanálise, é uma terapia complexa e de longa duração.

  A perspectiva psicodinâmica teve sua origem nos trabalhos de Freud com
  pacientes psiquiátricos, mas ele acreditava serem esses princípios
  válidos também para o comportamento normal. O modelo freudiano é
  notoriamente reconhecido por enfatizar que a natureza humana não é
  simples racional e que as ações podem ser motivadas por fatores não
  acessíveis à consciência. Além disso Freud dava muita importância à
  infância, como uma fase importantíssima na formação da personalidade.
  A teoria original de Freud, que foi posteriormente ampliada por vários
  autores mais recentes e influenciou fortemente muitas áreas da psicologia,
  tem sua origem não em experimentos científicos, mas na capacidade de
  observação de um homem criativo, inflamado pela ideia de descobrir os
  mistérios mais profundos do ser humano.

  Foi Ferenczi o primeiro a propor técnicas ativas para diminuir a
  duração do tratamento psicanalítico que, com a colaboração de Rank,
  em 1924, introduziu, no universo psicanalítico, novos conceitos que
  viriam a se tornar básicos para a psicoterapia breve atual. Já nessa
  época, eles enfatizaram a maior importância dos fatos da vida atual
  do paciente em comparação com suas experiências infantis. Entenderam
  que se deveria utilizar os processos intelectuais para modificar
  fatores emocionais na experiência dos pacientes. Propuseram, ainda,
  o estabelecimento de uma data para o término do tratamento e se
  referiram à importância do nível de motivação do paciente como fator
  de fundamental relevância para o sucesso do tratamento.

  Segundo a perspectiva psicodinâmica o comportamento é movido por uma
  série de forças internas, que buscam dissolver a tensão existente
  entre os instintos, as pulsões e as necessidades internas de um
  lado e as exigências sociais de outro. O objetivo do comportamento
  é assim a diminuição dessa tensão interna. É um processo
  psicoterapêutico breve e focal.
