extends layout

block content
  .container
    :marked
      # Psicoterapia
      A psicoterapia é um tipo de terapia usado com a finalidade de tratar
      problemas psicológicos tais como depressão, ansiedade, dificuldades de
      relacionamento e problemas de saúde mental. É processo dialético efetuado
      entre um profissional psicólogo/médico (o psicoterapeuta) e o cliente
      (o paciente).

      Por ser da área da saúde mental, a psicoterapia é a principal linha de
      tratamento para qualquer assunto referente à mente, para isso faz uso de
      métodos, técnicas e intervenções psicológicas cujo objetivos centrais são:

      - restabelecer a qualidade de vida do paciente;
      - equacionar os motivos da consulta (que variam desde pequenas dificuldades do dia-a-dia até mesmo grandes psicopatologias);
      - desenvolver os padrões de funcionamento mental do indivíduo e de seus sistemas psíquicos (saúde orgânica, saúde mental, familiar, social, sexual, intelectual, financeiro, profissional, lazer e espiritual).

      A psicoterapia pode ser individual, de casal, de família e em grupos.
      Existem mais de uma abordagem psicoterápica. Aqui apresento algumas das
      abordagens mais conhecidas.
    include tcc
    include sistemica
    include logoterapia

block myjs
  script jQuery("#psicoterapia").addClass("active")
