:marked
  ## Terapia Cognitivo Comportamental

  > "O que perturba o ser humano não são os fatos, mas a interpretação que
  > ele faz dos fatos."
  > <cite> Epitectus - Século I </cite>

  Mais de cinquenta anos depois que Aaron T. Beck e Albert Ellis delinearam os fundamentos da abordagem psicoterápica hoje denominada amplamente de terapia cognitivo comportamental (TCC), a pesquisa clínica e experimental, conduzida desde então, continua comprovando sua eficácia em diversos transtornos psiquiátricos. Com o objetivo de embasar suas conceituações e aplicações clínicas em evidências científicas, a TCC se tornou a modalidade de tratamento psicossocial mais pesquisada e validada em todo o mundo. (KNAPP, 2004).

  Terapia  cognitivo-comportamental é um termo genérico que abrange uma variedade de mais de 20 abordagens dentro do modelo cognitivo e cognitivo-comportamental. Todas as terapias cognitivo-comportamentais derivam de um modelo cognitivo prototípico e compartilham alguns pressupostos básicos, mesmo quando apresentam diferentes abordagens conceituais e estratégias nos diversos transtornos. Três proposições fundamentais definem as características que estão no núcleo das terapias cognitivo-comportamentais.

  - A atividade cognitiva influencia o comportamento.
  - A atividade cognitiva pode ser monitorada e alterada.
  - O comportamento desejado pode ser influenciado mediante a mudança cognitiva.

  Diferente da psicanálise a TCC não interpreta os conteúdos, o material trazido à consulta é elaborado em conjunto com o paciente num trabalho de identificar, examinar e corrigir as distorções do pensamento que causam sofrimento emocional no indivíduo. A Terapia Cognitiva focaliza seu trabalho em identificar e corrigir padrões de pensamento conscientes e inconscientes.

  A abordagem beckiana, originalmente desenvolvida para o tratamento da depressão unipolar, é aplicada hoje em dia em uma grande variedade de transtornos e populações, incluindo transtornos de ansiedade, dependências químicas, transtornos da personalidade, transtornos alimentares, transtorno bipolar, casais e famílias, crianças e adolescentes, entre outros.

  A terapia cognitiva baseia-se na premissa de que a inter-relação entre cognição, emoção e comportamento está implicada no funcionamento normal do ser humano e, em especial, na psicopatologia. Um evento comum do nosso cotidiano pode gerar diferentes formas de sentir e agir em diferentes pessoas, mas não é o evento em si que gera as emoções e os comportamentos, mas sim o que nós pensamos sobre o evento, nossas emoções e comportamentos estão influenciadas pelo que pensamos. Nós sentimos o que pensamos. Os eventos ativam pensamentos, os quais geram, como consequência, as emoções e os comportamentos. O objetivo da terapia cognitiva é corrigir as distorções do pensamento e com isso tornar as emoções e os comportamentos mais funcionais e adaptativos para a vida do sujeito. (KNAPP, 2004).

img(src="img/distorcoescognitivas.jpg")
