extends layout

block content
  .container
    :marked
      Os transtornos mentais são concebidos como síndromes ou
      padrões comportamentais ou psicológicos clinicamente importantes,
      que ocorrem num indivíduo e estão associados com sofrimento ou incapacitação
      ou com um risco significativamente aumentado de sofrimento, morte, dor,
      deficiência ou perda importante da liberdade.

      Qualquer que seja a causa original, a síndrome deve ser considerada
      no momento como uma manifestação de uma disfunção comportamental,
      psicológica ou biológica no indivíduo.
      Nem o comportamento desviante, nem conflitos entre o indivíduo e a
      sociedade são transtornos mentais, a menos que o desvio ou o conflito
      sejam sintomas de uma disfunção no indivíduo, como descritos antes.

      Um equívoco comum consiste em pensar que uma classificação de
      transtornos mentais classifica pessoas, quando na verdade o que se
      classifica são os transtornos que as pessoas apresentam. (DSM-IV-TR, 2002)

      ## Esquizofrenia

      Os aspectos essenciais da Esquizofrenia são um misto de sinais e sintomas
      característicos que estiveram presentes por um período de tempo significativo
      durante 1 mês, com alguns sinais do transtorno persistindo pelo período mínimo
      de 6 meses. Esses sinais e sintomas estão associados com acentuada disfunção
      social e/ou ocupacional.

      Sintomas característicos: delírios, alucinações, discurso desorganizado,
      comportamento amplamente desorganizado ou catatônico e embotamento afetivo.

      A Esquizofrenia pode se apresentar em mais de um tipo, sendo: Tipo Paranóide,
      Tipo Desorganizado, Tipo Catatônico, Tipo Indiferenciado e Tipo Residual.
      Cada tipo tem seu conjunto de sinais e sintomas. (DSM-IV, 2002)

      ## Transtornos Alimentares

      Os Transtornos Alimentares caracterizam-se por graves perturbações no
      comportamento alimentar, estas perturbações nomeamos de Anorexia Nervosa e
      Bulimia Nervosa. Em ambas existe uma característica essencial que é a
      perturbação na percepção da forma e do peso corporal.

      A Anorexia Nervosa caracteriza-se por uma recusa a manter o peso corporal em
      uma faixa normal mínima, medo intenso de ganhar peso ou de engordar,
      perturbação no modo de vivenciar o peso e amenorreia (ausência de pelo menos 3
      ciclos menstruais consecutivos).

      A Bulimia Nervosa caracteriza-se por episódios repetidos de compulsões
      alimentares seguidas de comportamentos compensatórios inadequados (tais como:
      vômitos, uso indevido de laxantes, diuréticos ou outros medicamentos,
      jejuns ou exercícios excessivos), sentimento de falta de controle durante o
      episódio de compulsão e auto-imagem indevidamente influenciada pela forma e
      pelo peso do corpo. (DSM-IV, 2002).

      ## Transtornos de Ansiedade

      Temos mais de um tipo de Transtornos de Ansiedade, os principais são:
      Transtorno de Pânico, Fobia Específica, Fobia Social,
      Transtorno Obsessivo-Compulsivo (TOC), Transtorno de Estresse Pós-Traumático
      e Transtorno de Ansiedade Generalizada.

      ### Transtorno de Pânico

      tem a presença de ataques de pânico recorrentes e
      inesperados, seguidos por pelo menos 1 mês de preocupação persistente acerca
      de ter um outro ataque de pânico. Os sintomas característicos de ataque de
      pânico são: palpitações ou taquicardia, sudorese, tremores ou abalos,
      sensações de falta de ar ou sufocamento, sensações de asfixia, dor ou
      desconforto torácico, náusea ou desconforto abdominal, sensação de tontura,
      instabilidade, vertigem ou desmaio, medo de perder o controle ou enlouquecer,
      medo de morrer, parestesias e calafrios ou ondas de calor.

      ### Fobia Específica

      caracteriza-se por ansiedade clinicamente significativa
      provocada pela exposição a um objeto ou situação específicos e temidos,
      frequentemente levando ao comportamento de esquiva.

      ### Fobia Social

      caracteriza-se por ansiedade clinicamente significativa provocada
      pela exposição a certos tipos de situações sociais ou de desempenho,
      nas quais o indivíduo é exposto a pessoas estranhas ou ao possível escrutínio
      por terceiros, frequentemente levando ao comportamento de esquiva.

      ### Transtorno Obsessivo-Compulsivo (TOC)

      caracteriza-se por obsessões (que
      causam acentuada ansiedade ou sofrimento) e/ou compulsões (que servem para
      neutralizar a ansiedade). Os principais sintomas são: Obsessões, definidas
      por: pensamentos, impulsos ou imagens recorrentes e persistentes que, em
      algum momento são experimentados como intrusivos e inadequados e causam
      acentuada ansiedade e/ou sofrimento. Compulsões, definidas por: comportamentos
      repetitivos que a pessoa se sente compelida a executar em resposta a uma
      obsessão ou de acordo com regras que devem ser rigidamente aplicadas. As
      obsessões ou compulsões causam acentuado sofrimento, consomem tempo ou
      interferem significativamente na rotina, no funcionamento ocupacional, em
      atividades ou relacionamentos sociais habituais do indivíduo.

      ### Transtorno de Estresse Pós-Traumático

      caracteriza-se pela revivência de um
      evento extremamente traumático, acompanhada por sintomas de excitação
      aumentada e esquiva de estímulos associados com o trauma.

      ### Transtorno de Ansiedade Generalizada

      caracteriza-se por pelo menos 6 meses
      de ansiedade e preocupação excessivas e persistentes com diversos eventos
      ou atividades. Os principais sintomas são: inquietação ou sensação de estar
      com os nervos à flor da pele, fatigabilidade, dificuldade em concentrar-se
      ou sensações de "branco" na mente, irritabilidade, tensão muscular e
      perturbação do sono. A ansiedade, a preocupação ou os sintomas físicos
      causam sofrimento clinicamente significativo ou prejuízo no funcionamento
      social ou ocupacional ou em outras áreas importantes da vida do indivíduo. (DSM-IV, 2002)

      ## Transtornos de Déficit de Atenção e Hiperatividade - TDAH

      No transtorno de déficit de atenção e hiperatividade (TDAH) encontramos os seguintes sintomas:

      ### Desatenção:

      - frequentemente não presta atenção a detalhes ou comete erros por omissão em atividades escolares, de trabalho ou outras;
      - com frequência tem dificuldade para manter a atenção em tarefas ou atividades lúdicas;
      - com frequência parece não ouvir quando lhe dirigem a palavra;
      - com frequência não segue instruções e não termina seus deveres escolares, tarefas domésticas ou deveres profissionais;
      - com frequência tem dificuldade para organizar tarefas e atividades;
      - com frequência evita, demonstra ojeriza ou reluta em envolver-se em tarefas que exijam esforço mental constante;
      - com frequência perde coisas necessárias para tarefas ou atividades;
      - é facilmente distraído por estímulos alheios à tarefa;
      - com frequência apresenta esquecimento em atividades diárias.

      ### Hiperatividade:

      - frequentemente agita as mãos ou os pés ou se remexe na cadeira;
      - frequentemente abandona sua cadeira na sala de aula ou outras situações nas quais se espera que permaneça sentado;
      - frequentemente corre ou escala em demasia, em situações impróprias (em adolescentes e adultos, pode estar limitado a sensações subjetivas de inquietação);
      - com frequência tem dificuldade para brincar ou se envolver silenciosamente em atividades de lazer;
      - está frequentemente "a mil" ou muitas vezes age como se estivesse "a todo vapor";
      - frequentemente fala em demasia.

      ### Impulsividade:

      - frequentemente dá respostas precipitadas antes que as perguntas terem sido completamente formuladas;
      - com frequência tem dificuldade para aguardar sua vez;
      - frequentemente interrompe ou se intromete em assuntos alheios. (DSM-IV-TR, 2002)

      ## Transtornos do Humor

      Transtornos do Humor tem como característica predominante uma perturbação no humor.
      Os transtornos mais encontrados são: Transtorno Depressivo Maior, Transtorno Distímico,
      Transtorno Bipolar I, Transtorno Bipolar II e Transtorno Ciclotímico.

      ### Transtorno Depressivo Maior

      é caracterizado por humor deprimido na maior parte do dia, diminuição do interesse ou prazer em
      todas ou quase todas as atividades, perda ou aumento de peso, assim como
      perda ou aumento do apetite, insônia ou hipersonia, agitação ou retardo
      psicomotor, fadiga ou perda de energia, sentimento de inutilidade ou culpa
      excessiva ou inadequada, capacidade diminuída de pensar ou concentrar-se,
      ou indecisão, pensamentos de morte recorrentes, ideação suicida, tentativa
      de suicídio ou plano específico para cometer suicídio. Os sintomas causam
      sofrimento clinicamente significativo ou prejuízo no funcionamento social
      ou ocupacional ou em outras áreas importantes da vida do indivíduo.

      ### Transtorno Distímico

      é caracterizado por humor deprimido na maior parte do dia, na maioria dos dias por um período
      mínimo de 2 anos. Os principais sintomas são: apetite diminuído ou
      hiperfagia, insônia ou hipersonia, baixa energia ou fadiga, baixa
      auto-estima, fraca concentração ou dificuldade em tomar decisões,
      sentimentos de desesperança. Durante o período de 2 anos o sujeito
      jamais esteve sem sintomas.

      ### Transtorno Bipolar I

      é caracterizado por episódios maníacos e depressivos. Dentre os episódios maníacos encontramos
      os sintomas de humor anormal elevado, expansivo ou irritável, auto-estima
      inflada ou grandiosidade, redução da necessidade de sono, mais loquaz do
      que o habitual ou pressão por falar, fuga de ideias ou experiência
      subjetiva de que os pensamentos estão correndo, distratibilidade,
      aumento da atividade dirigida a objetivos ou agitação psicomotora,
      envolvimento excessivo em atividades prazerosas com um alto potencial
      para consequências dolorosas (compras excessivas, correr riscos de morte
      desnecessários). A perturbação do humor é suficientemente grave a ponto de
      causar prejuízo acentuado no funcionamento ocupacional, nas atividades
      sociais ou relacionamentos costumeiros com outros.

      ### Transtorno Bipolar II

      é caracterizado por presença de um episódio depressivo maior, presença de
      um episódio hipomaníaco. Os sintomas causam sofrimento clinicamente
      significativo ou prejuízo no funcionamento social ou ocupacional ou em
      outras áreas importantes da vida do indivíduo.

      ### Transtorno Ciclotímico

      é caracterizado por um período mínimo de 2 anos de presença de numerosos
      períodos com sintomas hipomaníacos e numerosos períodos com sintomas
      depressivos. Durante o período de 2 anos o indivíduo não ficou sem sintomas
      por mais de 2 meses consecutivos. (DSM-IV-TR, 2002)

block myjs
  script jQuery("#transtornosmentais").addClass("active")
