@import '_settings'

normalize-css()
base()

body
  padding: 70px
/*
  padding-top: 120px
@media (max-width: 768px)
  body
    padding-top: 60px
*/

.img-fluid
  max-width: 100%
  height: auto
  margin-bottom: 30px


.bg1
  background: rgba(orange,.2)
.bg2
  background: rgba(blue,.2)
.bg3
  background: rgba(green,.2)
.bg4
  background: white

.center
  text-align: center

.icon
  margin: 10px

.spaced
  margin-top: 20px
  margin-bottom: 20px
